name: CI

on:
  push:
    branches: [ SBOL3 ]
  pull_request:
    branches: [ SBOL3 ]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v1
        
      - name: Compile LaTeX document
        uses: dante-ev/latex-action@v0.2.0
        with:
          root_file: sbol3.tex

      - name: Move PDF
        run: mkdir -p output && cp sbol3.pdf output
        
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: PDF
          path: output


